<h1>Zarządzanie użytkownikami</h1>
  <table>
      <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>email</th>
            <th>usuniety</th>
            <th>rola</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let uzytkownik of uzytkownicy">
            <th>
              <input [(ngModel)]="uzytkownik.imie" placeholder="imie" id="imie" type="text" class="validate">
            </th>
            <th>
              <input [(ngModel)]="uzytkownik.nazwisko" placeholder="nazwisko" id="nazwisko" type="text" class="validate">
            </th>
            <th><input [(ngModel)]="uzytkownik.email" placeholder="email" id="email" type="text" class="validate"></th>
            <th>
              <a *ngIf="uzytkownik.usuniety" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">check</i>
              </a>
              <a *ngIf="!uzytkownik.usuniety" class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">close</i>
              </a>
            </th>
            <th><input [(ngModel)]="uzytkownik.rola" placeholder="rola" id="rola" type="text" class="validate"></th>
            <th>
              <a (click)="edit(uzytkownik)" class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">edit</i>
              </a>
            </th>
        </tr>
        <tr>
            <th>
              <input [(ngModel)]="uzytkownik.imie"  name="imie" placeholder="imie" id="imie" type="text"  class="validate">
            </th>
            <th>
              <input [(ngModel)]="uzytkownik.nazwisko" name="nazwisko" placeholder="nazwisko" id="nazwisko" type="text" class="validate">
            </th>
            <th><input [(ngModel)]="uzytkownik.email" name="email" placeholder="email" id="email" type="text" class="validate"></th>
            <th>
            </th>
            <th><input [(ngModel)]="uzytkownik.rola" name="rola" placeholder="rola" id="rola" type="text" class="validate"></th>
            <th>
              <a (click)="add()" class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons" >add</i>
              </a>
            </th>
        </tr>
      </tbody>
    </table>