<h1>Zarządzanie użytkownikami</h1>
  <table>
      <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>email</th>
            <th>usuniety</th>
            <th>rola</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
            <th>
              <input placeholder="imie" id="imie" type="text" class="validate">
            </th>
            <th>
              <input placeholder="nazwisko" id="nazwisko" type="text" class="validate">
            </th>
            <th><input placeholder="email" id="email" type="text" class="validate"></th>
            <th>
              <a class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">check</i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">close</i>
              </a>
            </th>
            <th><input placeholder="rola" id="rola" type="text" class="validate"></th>
            <th>
              <a class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">edit</i>
              </a>
            </th>
        </tr>
        <tr>
            <th>
              <input placeholder="imie" id="imie" type="text" class="validate">
            </th>
            <th>
              <input placeholder="nazwisko" id="nazwisko" type="text" class="validate">
            </th>
            <th><input placeholder="email" id="email" type="text" class="validate"></th>
            <th>
              <a class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">check</i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">close</i>
              </a>
            </th>
            <th><input placeholder="rola" id="rola" type="text" class="validate"></th>
            <th>
              <a class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">add</i>
              </a>
            </th>
        </tr>
      </tbody>
    </table>