<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li>
            <a href="#!">one</a>
          </li>
          <li>
            <a href="#!">two</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#!">three</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">view_module</i>four</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">cloud</i>five</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="admin/historiaLosowan">Historia losowań</a>
      </li>
      <li>
        <a href="admin/wynikiLosowan">Wyniki losowania</a>
      </li>
      <li>
        <a href="admin/zarzadzanieUzytkownikami">Zarzadzanie uzytkownikami</a>
      </li>
      <li>
        <a href="admin/ustawieniaPowiadomien">Ustawienia powiadomien</a>
      </li>
      <li>
        <a href="admin/zgloszeniaDoLoterii">Zgłoszenia do loterii</a>
      </li>
    </ul>
  </div>
</nav>
